.main{
    display: flex;
}

header{
    display: flex;
    gap:15em;
    padding: 1em;
    width: fit-content;
}

div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: 2em;
    gap:2em;
}

span{
    background-color: blue;
    width: 8em;
    text-align: center;
    color: white;
    font-size: 2.3em;
    border-radius: 10em;
}